html, body, div, span, p, h1, h2, h3, h4, h5, h6, … {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    text-indent: 0;
}

body {
    color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    min-width: 350px;
}

h1 {
    color: #303030;
    font-family: "Lato", sans-serif;
    font-size: 69px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 1.15px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #303030;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.16;
    letter-spacing: 1.16px;
    text-align: center;
    text-transform: uppercase;

}

.subheader1 {
    font-size: 24px;
    font-family: "Georgia", sans-serif;
    color: #606060;
    font-style: italic;
    line-height: 1.45;
    letter-spacing: 1.16px;
}

.subheader2 {
    font-size: 18px;
    font-family: "Georgia", sans-serif;
    color: #606060;
    font-style: italic;
    text-align: center;
    line-height: 1.3;
}

h3 {
    color: #303030;
    font-family: "Lato Bold", sans-serif;
    font-size: 14px;
    line-height: 1;
}

a {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    color: #303030;
}

#bag {
    margin-top: 17px;
    float: right;
    margin-right: 8px;
    color: #303030;
}

#bag i {
    font-size: 26px;
    text-align: center;
}

#search {
    margin-right: 14px;
    margin-top: 9px;
    float: right;
    width: 38px;
    height: 38px;
    color: #303030;
}

#search i {
    font-size: 15px;
    text-align: center;
}

#bag span {
    font-size: 18px;
}

div#menu div {
    display: block;
    margin: 0 0 35px 0;
}

#lastElementOfMenu {
    margin-bottom: 20px !important;
}

a:hover {
    text-decoration: underline;
}

#formForSearch {
    width: 391px;
}

#formForSearch {
    width: 391px;
    margin-top: -5px
}

#formForSearch form input[type="search"] {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 11px;
    padding: 11px 10px;
    float: left;
    min-width: 340px;

}

*:focus {
    outline: none;
}

#formForSearch form div[type="submit"] {
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 0;
    float: left;
    width: 39px;
    height: 39px;
    border: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px #e5e5e5 solid;
    margin: 0;
    padding: 8px 0;
    min-width: 300px;
    clear: left;

}

#firstHr {
    border-top: none;
    height: 9px;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 19px;

}

#wrapper {
    margin: 20px;
    padding: 0;
}

.headerLogo {
    width: 60px;
    height: 55px;
    margin-bottom: 15px;
    background-color: #303030;
    display: inline-block;
}

#menu {
    text-align: center;
}

#title h1 {
    margin-top: 20px;
}

#title p {
    text-align: center;
    width: auto;
    margin: 0;
    padding: 0;

}

#title h1 + p {
    margin-top: 25px;
}

#title + .content {
    margin-top: 50px;
}

.footer {
    margin: 20px;
}

/**gallery*/
.gallery {
    font-size: 0;
    line-height: 0;
}

ul {
    -webkit-padding-start: 0;
}

.gallery li {
    display: inline-block;
    font-size: 0;
    margin: auto;
    padding: 0;
    width: 375px;
    background-color: #606060;
}

.gallery li a {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.firstCell, .sixthCell {
    height: 230px;
}

.secondCell, .seventhCell {
    height: 198px;
}

.thirdCell {
    height: 150px;
}

.fourthCell, .fifthCell, .eighthCell {
    height: 277px;
}

div.gallery + div#signup {
    margin-top: 80px;
}

div#signup h2 + p {
    margin-top: 12px;
}

#signup p + #formForEmail {
    margin-top: 50px;
}

#formForEmail {
    width: 391px;
    margin: auto;
}

#formForEmail form input[type="email"] {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 11px;
    padding: 20px 10px;
    float: left;
    min-width: 255px;
}

#formForEmail form input[type="submit"] {
    width: 94px;
    height: 57px;
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #f68236;
    border: none;
    padding: 0;
}

div#signup + div#slider {
    margin-top: 75px;
}

/*slider*/
#slider {
    overflow: hidden;
    width: 200px;
    height: 120px;
}

#slider ul {
    position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#slider > ul > li {
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    height: 120px;
    background: #ccc;
}

#prev #next {
    height: 120px;
    width: 10px;
    background-color: #f68236;
    z-index: 10;
}

.content hr {
    margin-top: 3px;
}

.footer {
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
}

.footer h2 {
    font-size: 29px;
    margin-bottom: 45px;
}

#wrapper + .footer {
    margin-top: 28px;
}

#social {
    margin-top: 32px;
    color: #606060;
}

.social {
    display: inline-block;
    margin-right: 15px;
}

.icon {
    border: 1px #a3a3a3 solid;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    #title p {
        width: auto;
    }

    .gallery li {
        margin: auto;
        width: 500px;
        padding: 0;
        display: block;
    }

    h2 {
        font-size: 34px;
        letter-spacing: 2.9px;

    }

    .subheader2 {
        font-size: 19px;
        line-height: 1.45;
    }

    #formForEmail {
        width: 570px;
        margin: auto;
    }

    #formForEmail form input[type="email"] {
        min-width: 450px;
    }

    #formForSearch {
        float: right;
        width: 200px;
        margin-top: 10px;
    }

    #formForSearch form input[type="search"] {

        min-width: inherit;
    }

}

@media only screen and (min-width: 1024px) {

    div#menu div {
        display: inline-block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    #menu {
        text-align: start;
        margin-left: 100px;
    }

    a {
        font-size: 15px;
    }

    #wrapper {
        margin: 31px;
    }

    .headerLogo {
        width: 40px;
        height: 42px;
        float: left;

    }

    #bag i {
        font-size: 20px;
    }

    #bag {
        margin-top: 13px;
        float: right;
        margin-right: 52px;
        color: #303030;
    }

    #search {
        margin-right: 26px;
        margin-top: 5px;
    }

    #search i {
        font-size: 15px;
        text-align: center;
    }

    #bag span {
        font-size: 15px;
    }

    .firstHr {
        display: none;
    }

    .whiteButton {
        border: 1px #e5e5e5 solid;
        width: 230px;
        height: 58px;
        text-transform: uppercase;
        margin: auto;
        text-align: center;
        top: 50%;
    }

    .firstHr {
        padding: 0;
    }

    .headerLogo {
        margin-bottom: 0;
    }

    #title p + .whiteButton {
        margin-top: 70px;
    }

    #header + #title {
        margin-top: 118px;
    }

    div#title + div.content {
        margin-top: 130px;
    }

    .gallery li {
        width: 244px;
        height: 244px;
        display: inline-block;
    }

    .Table {
        display: table;
    }

    .Heading {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }

    .Row {
        display: table-row;
    }

    .Cell {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (min-width: 1024px) {

}

